{% extends "base/primitiva_layout.html" %}
{% load bootstrap5 %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/dashboard-research.css' %}">
{% endblock head_css %}

{% block title %} Dashboard {% endblock title %}

{% block homeActive %} active {% endblock homeActive %}
{% block dashboardActive %} link-dark {% endblock dashboardActive %}
{% block researchActive %} link-dark {% endblock researchActive %}
{% block plantaeActive %} link-dark {% endblock plantaeActive %}
{% block animalsActive %} link-dark {% endblock animalsActive %}
{% block ecosystemsActive %} link-dark {% endblock ecosystemsActive %}
{% block staffActive %} link-dark {% endblock staffActive %}

{% block content %}


{% endblock content %}
